<p>
  <strong>floor:</strong>
  <%= @article.floor %>
</p>
 
<p>
  <strong>room:</strong>
  <%= @article.room %>
</p>

<h2>Customers</h2>
<%= render @article.customers %>

<h2>Add Customers:</h2>
<%= render 'customers/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>